.sg-blue-theme {
  background-color: #006699;
  color: #ffffff;
}
.sg-coral-theme {
  background-color: #ff7f50;
  color: #ffffff;
}
.sg-default-theme {
  background-color: #00427C;
  color: #ffffff;
}
.sg-goldenrod-theme {
  background-color: #cc9933;
  color: #ffffff;
}
.sg-haze-theme {
  background-color: #7e6db4;
  color: #ffffff;
}
.sg-icicle-theme {
  background-color: #3e63ab;
  color: #ffffff;
}
.sg-jellybean-theme {
  background-color: #666699;
  color: #ffffff;
}
.sg-lavender-theme {
  background-color: #ccccff;
  color: #333333;
}
.sg-leather-theme {
  background-color: #663300;
  color: #ffffff;
}
.sg-light-salmon-theme {
  background-color: #ffa07a;
  color: #333333;
}
.sg-lime-theme {
  background-color: #669933;
  color: #ffffff;
}
.sg-mint-theme {
  background-color: #ccffcc;
  color: #333333;
}
.sg-navy-theme {
  background-color: #003366;
  color: #ffffff;
}
.sg-ocean-water-theme {
  background-color: #006666;
  color: #ffffff;
}
.sg-outdoors-theme {
  background-color: #336633;
  color: #ffffff;
}
.sg-peach-theme {
  background-color: #ffcc99;
  color: #333333;
}
.sg-pink-theme {
  background-color: #ffdab9;
  color: #333333;
}
.sg-royal-theme {
  background-color: #330066;
  color: #ffffff;
}
.sg-sand-theme {
  background-color: #cc9966;
  color: #333333;
}
.sg-silver-theme {
  background-color: #cccccc;
  color: #333333;
}
.sg-sky-blue-theme {
  background-color: #ccffff;
  color: #333333;
}
.sg-sleek-theme {
  background-color: #333333;
  color: #ffffff;
}
.sg-stone-theme {
  background-color: #999999;
  color: #ffffff;
}
.sg-sunshine-theme {
  background-color: #ffff99;
  color: #333333;
}
.sg-sweet-tart-theme {
  background-color: #cc3333;
  color: #ffffff;
}
.sg-tan-theme {
  background-color: #996600;
  color: #ffffff;
}
.sg-teal-theme {
  background-color: #339999;
  color: #ffffff;
}
.sg-tomato-theme {
  background-color: #ff6347;
  color: #ffffff;
}
.sg-turquoise-theme {
  background-color: #99cccc;
  color: #333333;
}